#iconeProfil{
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
}

#pseudo{
    font-size: 1.5em;

}
#dateCompte{
    font-size: 0.8em;
}

.lien > a{
margin: 5px;
color: aliceblue;
text-decoration: none;
}
.lien > a:active{
    color:aqua;
}
.lien > a:hover{
    text-decoration: underline;
}