#iconeProfil{
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 0px;
}

#boutonForum{
    margin-top: 25px;
    min-width: 50%;
    min-height: 20%;
    background-color: #C4975E;
    border: 3px solid #864f29;
    border-radius: 3px;
}
#boutonForum:hover{
    background-color: #cdc483;
}

#pseudo{
    font-size: 1.5em;
    margin-top: 10px;
    font-weight: 500;
}
#dateCompte{
    font-size: 0.8em;
}

.lien > a{
margin: 5px;
color: aliceblue;
text-decoration: none;
}
.lien > a:active{
    color:aqua;
}
.lien > a:hover{
    text-decoration: underline;
}

#titreDroite{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 10px;
}