
body{
    font-family: "Roboto";
    background-color: #1A1A1A;
    color: #E5E5E5;
    
}

.classeOption {
    display: inline-block;
    cursor: pointer;
    border: 2px solid #E5E5E5;
    transition: border 0.2s;
    align-items: center;
}

img{
    max-width: 100px;
    max-height: auto;
    align-self: center;
}

button{
    margin: auto;
    display: block;
    height: 10%;
    width: 30%;
    background-color: #C4975E;
    border: 2px solid black;
    font-family: "Roboto";
    font-size: 30px;

}